

{% extends 'base.html.twig' %}
{% block body %}
    <header>

        <nav class="navbar navbar-expand-lg navbar-light blue">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">Training Centrum Den Haag</a>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="/home/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/kalender/">Kalender</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#"></a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
                </form>
            </div>
        </nav>
    </header>
    <br><br>
    <div class="container">
    <div class="row">
        <div class="col">
            <div class="col-sm"><img src="{{ asset('img/train1.jpg') }}" ></div>
        </div>
        <div class="col order-12">
            <div class="col-sm"><img class="img" src="{{ asset('img/train5.jpg') }}" ></div>
        </div>
        <div class="col order-1">
            <div class="col-sm"><img class="img" src="{{ asset('img/train6.jpg') }}" ></div>
        </div>
    </div>
    </div>
    <br><br><br><br><br><br><br>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="col-sm"><h3>Welkom bij Trainings Centrum Den Haag</h3>
                    <p class="fa-align-center" style="width: 600px;">
                        Den Haag Training Center is een sportschool waar onder professionele begeleiding in een veilige
                        omgeving verschillende soorten martial arts-, indoor bootcamp, personal- en small group
                        trainingen worden aangeboden. Hier kan je je inschrijven op een les of uitschrijven op een les
                    </p></div>
            </div>
            <div class="col order-12">
                <div class="col-sm"></div>
            </div>
            <div class="col order-1">
                <div class="col-sm"></div>
            </div>
        </div>
    </div>
    <div class="article">

    </div>
    <footer class="page-footer font-small fixed-bottom blue">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2019 Copyright: Mehmet Yildiz</a>
        </div>
        <!-- Copyright -->

    </footer>
{% endblock %}

{% block javascripts %}{% endblock %}